# Raw time series data from various market brokers / APIs

In [ ]:
from nsepython import nse_eq

# Get Tata Motors data
data = nse_eq("TATAMOTORS")
print(data)

{'info': {'symbol': 'TATAMOTORS', 'companyName': 'Tata Motors Limited', 'industry': 'Passenger Cars & Utility Vehicles', 'activeSeries': ['EQ', 'T0'], 'debtSeries': [], 'isFNOSec': True, 'isCASec': False, 'isSLBSec': True, 'isDebtSec': False, 'isSuspended': False, 'tempSuspendedSeries': [], 'isETFSec': False, 'isDelisted': False, 'isin': 'INE155A01022', 'slb_isin': 'INE155A01022', 'listingDate': '1998-07-22', 'isMunicipalBond': False, 'isHybridSymbol': False, 'isTop10': False, 'identifier': 'TATAMOTORSEQN'}, 'metadata': {'series': 'EQ', 'symbol': 'TATAMOTORS', 'isin': 'INE155A01022', 'status': 'Listed', 'listingDate': '22-Jul-1998', 'industry': 'Passenger Cars & Utility Vehicles', 'lastUpdateTime': '22-Aug-2025 16:00:00', 'pdSectorPe': 11.46, 'pdSymbolPe': 11.76, 'pdSectorInd': 'NIFTY 50', 'pdSectorIndAll': ['NIFTY 50', 'NIFTY500 LARGEMIDSMALL EQUAL-CAP WEIGHTED', 'NIFTY INDIA CORPORATE GROUP INDEX - TATA GROUP 25% CAP', 'NIFTY50 EQUAL WEIGHT', 'NIFTY INDIA MANUFACTURING', 'NIFTY LARGEMIDCAP 250', 'NIFTY500 MULTICAP 50:25:25', 'NIFTY100 ESG SECTOR LEADERS', 'NIFTY TOTAL MARKET', 'NIFTY MOBILITY', 'NIFTY TRANSPORTATION & LOGISTICS', 'NIFTY500 EQUAL WEIGHT', 'NIFTY TOP 20 EQUAL WEIGHT', 'NIFTY RURAL', 'NIFTY INDIA NEW AGE CONSUMPTION', 'NIFTY AUTO', 'NIFTY 200', 'NIFTY 500', 'NIFTY500 MULTICAP INDIA MANUFACTURING 50:30:20', 'NIFTY500 VALUE 50', 'NIFTY 100', 'NIFTY50 SHARIAH', 'NIFTY100 EQUAL WEIGHT', 'NIFTY INDIA SELECT 5 CORPORATE GROUPS (MAATR)', 'NIFTY100 ENHANCED ESG', 'NIFTY EV & NEW AGE AUTOMOTIVE', 'NIFTY500 SHARIAH', 'NIFTY INDIA FPI 150', 'NIFTY100 LIQUID 15', 'NIFTY100 ESG', 'NIFTY50 VALUE 20', 'NIFTY INDIA CORPORATE GROUP INDEX - TATA GROUP']}, 'securityInfo': {'boardStatus': 'Main', 'tradingStatus': 'Active', 'tradingSegment': 'Normal Market', 'sessionNo': '-', 'slb': 'Yes', 'classOfShare': 'Equity', 'derivatives': 'Yes', 'surveillance': {'surv': None, 'desc': None}, 'faceValue': 2, 'issuedSize': 3681958343}, 'sddDetails': {'SDDAuditor': '-', 'SDDStatus': '-'}, 'currentMarketType': 'NM', 'priceInfo': {'lastPrice': 680.95, 'change': -4.449999999999932, 'pChange': -0.6492559089582626, 'previousClose': 685.4, 'open': 685.9, 'close': 680.3, 'vwap': 682.02, 'stockIndClosePrice': 0, 'lowerCP': '616.90', 'upperCP': '753.90', 'pPriceBand': 'No Band', 'basePrice': 685.4, 'intraDayHighLow': {'min': 678.6, 'max': 691.5, 'value': 680.95}, 'weekHighLow': {'min': 535.75, 'minDate': '07-Apr-2025', 'max': 1142, 'maxDate': '29-Aug-2024', 'value': 680.95}, 'iNavValue': None, 'checkINAV': False, 'tickSize': 0.05, 'ieq': ''}, 'industryInfo': {'macro': 'Consumer Discretionary', 'sector': 'Automobile and Auto Components', 'industry': 'Automobiles', 'basicIndustry': 'Passenger Cars & Utility Vehicles'}, 'preOpenMarket': {'preopen': [{'price': 685.35, 'buyQty': 525, 'sellQty': 0}, {'price': 685.4, 'buyQty': 5416, 'sellQty': 0}, {'price': 685.45, 'buyQty': 348, 'sellQty': 0}, {'price': 685.5, 'buyQty': 69, 'sellQty': 0}, {'price': 685.8, 'buyQty': 100, 'sellQty': 0}, {'price': 685.9, 'buyQty': 0, 'sellQty': 1656, 'iep': True}, {'price': 686, 'buyQty': 0, 'sellQty': 272}, {'price': 686.95, 'buyQty': 0, 'sellQty': 10}, {'price': 687, 'buyQty': 0, 'sellQty': 370}, {'price': 687.2, 'buyQty': 0, 'sellQty': 50}], 'ato': {'buy': 0, 'sell': 0}, 'IEP': 685.9, 'totalTradedVolume': 26032, 'finalPrice': 685.9, 'finalQuantity': 26032, 'lastUpdateTime': '22-Aug-2025 09:07:31', 'totalBuyQuantity': 83288, 'totalSellQuantity': 248297, 'atoBuyQty': 0, 'atoSellQty': 0, 'Change': 0.5, 'perChange': 0.07, 'prevClose': 685.4}}

In [ ]:
import yfinance as yf
import pandas as pd

In [ ]:
# Example: Apple (AAPL)
ticker = "AAPL"

# Get last 1 day of data with 1-minute interval
df = yf.download(ticker, period="1d", interval="10m")

print(df.head())

C:\Users\amans\AppData\Local\Temp\ipykernel_25624\3924034893.py:5: FutureWarning: YF.download() has changed argument auto_adjust default to True
  df = yf.download(ticker, period="1d", interval="10m")
[*********************100%***********************]  1 of 1 completed

1 Failed download:
['AAPL']: YFPricesMissingError('possibly delisted; no price data found  (period=1d) (Yahoo error = "Invalid input - interval=10m is not supported. Valid intervals: [1m, 2m, 5m, 15m, 30m, 60m, 90m, 1h, 4h, 1d, 5d, 1wk, 1mo, 3mo]")')

Empty DataFrame
Columns: [(Adj Close, AAPL), (Close, AAPL), (High, AAPL), (Low, AAPL), (Open, AAPL), (Volume, AAPL)]
Index: []

In [14]:
df.columns

MultiIndex([('Adj Close', 'AAPL'),
            (    'Close', 'AAPL'),
            (     'High', 'AAPL'),
            (      'Low', 'AAPL'),
            (     'Open', 'AAPL'),
            (   'Volume', 'AAPL')],
           names=['Price', 'Ticker'])

In [15]:
df.shape

(0, 6)

In [20]:
# Lets first download the snp-global 500 dataset.

In [ ]:
from statsmodels.regression.rolling import RollingOLS
import pandas_datareader.data as web
import matplotlib.pyplot as plt
import statsmodels.api as sm
import pandas as pd
import numpy as np
import datetime as dt
import yfinance as yf

# import pandas_ta
import warnings

warnings.filterwarnings("ignore")

sp500 = pd.read_html("https://en.wikipedia.org/wiki/List_of_S%26P_500_companies")[0]

sp500["Symbol"] = sp500["Symbol"].str.replace(".", "-")

symbols_list = sp500["Symbol"].unique().tolist()

end_date = "2025-08-25"

start_date = pd.to_datetime(end_date) - pd.DateOffset(365 * 12)

df = yf.download(tickers=symbols_list, start=start_date, end=end_date).stack()

df.index.names = ["date", "ticker"]

df.columns = df.columns.str.lower()

df

[*********************100%***********************]  503 of 503 completed 724 of 503 completed

2 Failed downloads:
['VLTO', 'GEV']: YFPricesMissingError('possibly delisted; no price data found  (1d 2015-09-29 00:00:00 -> 2023-09-27) (Yahoo error = "Data doesn\'t exist for startDate = 1443499200, endDate = 1695787200")')
[*********************103%************************]  518 of 503 completed

Price                   close        high         low        open      volume
date       ticker
2013-08-28 ADBE     45.529999   45.910000   45.490002   45.580002   1971500.0
           AEE      22.863010   22.965198   22.726758   22.842571   1246500.0
           AFL      21.724686   21.957839   21.713404   21.769812   3264600.0
           AIG      35.559593   35.919711   35.199476   35.337393   7172300.0
           AIZ      42.416607   42.805679   42.376906   42.702455    740800.0
...                       ...         ...         ...         ...         ...
2025-08-22 XYZ      79.120003   79.385002   73.470001   73.550003  12027900.0
           YUM     147.869995  149.960007  147.399994  148.600006   1995300.0
           ZBH     107.709999  107.769997  104.849998  105.250000   1099300.0
           ZBRA    322.790009  324.260010  310.329987  310.329987    495400.0
           ZTS     156.619995  158.300003  156.139999  157.059998   2426300.0

[1120253 rows x 5 columns]

[**************************************173%*****************************************]  871 of 503 completed

In [29]:
df.columns

Index(['close', 'high', 'low', 'open', 'volume'], dtype='object', name='Price')

In [31]:
df.head(20)

Price                   close        high         low        open      volume
date       ticker
2013-08-28 ADBE     45.529999   45.910000   45.490002   45.580002   1971500.0
           AEE      22.863010   22.965198   22.726758   22.842571   1246500.0
           AFL      21.724686   21.957839   21.713404   21.769812   3264600.0
           AIG      35.559593   35.919711   35.199476   35.337393   7172300.0
           AIZ      42.416607   42.805679   42.376906   42.702455    740800.0
           AMAT     12.744976   12.898325   12.744976   12.821650  12505900.0
           AMGN     78.242432   78.887288   77.597581   77.812529   3043100.0
           AOS      17.557838   17.649176   17.466499   17.466499    922400.0
           APA      60.553844   61.425783   60.148470   60.209660   2377800.0
           BAX      30.895803   31.013760   30.721053   30.860855   4626249.0
           BLDR      5.800000    5.890000    5.660000    5.750000    307700.0
           BMY      28.696220   28.791806   28.245602   28.464083   6096800.0
           BRK-B   112.199997  112.830002  111.110001  111.160004   3140900.0
           BSX      10.690000   10.880000   10.670000   10.680000  14307600.0
           CBRE     21.820000   21.940001   21.480000   21.520000   3012300.0
           CCI      44.194199   44.466377   44.118240   44.257495   1931100.0
           CCL      29.714643   29.978994   29.673336   29.978994   4071400.0
           CF       27.441031   27.948261   27.206923   27.826873   4342000.0
           CHTR    120.000000  121.589996  119.430000  120.870003    788300.0
           CI       72.387817   72.664638   71.769593   72.055636   1533100.0